/* App.css */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('/public/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end; /* Align content to the right */
  align-items: flex-start; /* Align content to the top */
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px;
}

.connect-button,
.disconnect-button {
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 10px;
}
.balances-container {
  display: flex;
}

.token-balances {
  flex: 1;
  padding: 10px;
}

.latest-transactions-container {
  flex: 1;
  height: 300px; /* Set the desired height */
  overflow-y: auto; /* Enable vertical scrolling */
  margin-top: 20px; /* Adjust as needed */
  position: relative;
}

.latest-transactions-header {
  position: sticky;
  top: 0;
  background-color: white; /* Add a background color if needed */
  padding: 10px;
  z-index: 1; /* Ensure the header appears above the scrolling content */
}

.latest-transactions-list {
  padding: 10px;
}
.metamask-info {
  display: flex;
  align-items: center;
  background-color: rgba(0, 128, 0, 0.7);
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
}

.theme-button {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  background-color: #3498db; /* Default color, you can change it */
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Add these styles for dark theme (you can customize this) */
.dark-theme {
  background-color: #333;
  color: #fff;
}

/* Add these styles for light theme (you can customize this) */
.light-theme {
  background-color: #ecf0f1;
  color: #333;
}